{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Login</title>{% endblock %}

{% block body %}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <span class="login100-form-title p-b-26">
                Welcome {{user.username}}
            </span>
            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <a href="/logout">
                        <button class="login100-form-btn">
                            Logout
                        </button>
                    </a>
                </div>
            </div>
            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <form method="get" >
                        <button class="login100-form-btn" type="submit">
                            Change Password
                        </button>
                    </form>
                </div>
            </div>
            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                        <a href="/update_profiles">
                            <button class="login100-form-btns">
                                Update Profiles         
                            </button>
                        </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}