{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Signup</title>{% endblock %}

{% block body %}
<div class="limiter">
    <div class="container-customstyle">
        <div class="wrap-customstyle">
            <form class="form" method="post">
                {% csrf_token %}
                <span class="form-title-custom">
                    Reset Password Form
                </span>
                <div class="wrap-inputcustomstyle">
                    <span>User Name</span>
                    {{form.username}}
                </div>
                {%if 'username' in errors%}
                    <div class='alert alert-warning'>{{errors.username}}</div>
                {% endif %}
                <div>
                    <div>
                        <div></div>
                        <button type="submit">
                            Reset Password
                        </button>
                    </div>
                </div>
                <div class="text-center">
                    <span class="txt1">
                        You have an account?
                    </span>
                    <a href="/login">
                        Login
                    </a><br/>
                    <span class="txt1">
                        Don't have an account?
                    </span>
                    <a href="/signup">
                        Sign Up
                    </a><br/>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}