{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Set Password</title>{% endblock %}

{% block body %}
<div class="limiter">
    <div class="container-customstyle">
      <div class="wrap-customstyle">
        <form class="form" method="post">
        {% csrf_token %}
        <input type='hidden' name='token' value='{{token}}'>
          <span class="form-title-custom">
            Reset Password
          </span>
          <div class="wrap-inputcustomstyle">
            {{form.password_1}}
            <span class="focus-input100" data-placeholder="Password"></span>
          </div>
          {%if 'password_1' in errors%}
            <div class='alert alert-warning'>{{errors.password_1}}</div>
          {% endif %}

          <div class="wrap-inputcustomstyle">
            {{form.password_2}}
            <span class="focus-input100" data-placeholder="Confirm Password"></span>
          </div>
          {%if 'password_2' in errors%}
            <div class='alert alert-warning'>{{errors.password_2}}</div>
          {% endif %}
          {%if 'general_error' in errors%}
            <div class='alert alert-warning'>{{errors.general_error}}</div>
          {% endif %}

          <div class="container-form-btn">
            <div class="wrap-form-btn">
              <div class="form-bgbtn"></div>
              <button class="form-btn" type="submit">
                Reset Password
              </button>
            </div>
          </div>
          <div class="text-center">
            <span class="txt1">
              Already Registered?
            </span>
            <a href="/">
              Login
            </a><br/>
            <span class="txt1">
              Don’t have an account?
            </span>
             <a href="/signup">
                Sign Up
              </a><br/>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}