{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Update Profile</title>{% endblock %}

{% block body %}
<div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <span class="login100-form-title p-b-26">
            Welcome 
          </span>
          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <a href="/logout">
              <button class="login100-form-btn" type="submit">
                Logout
              </button></a>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}